/* Reset default margins and paddings */
body,
h1,
h2,
p,
nav {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

main {
  padding: 20px;
}

.produk {
  margin-bottom: 30px;
}

.produk h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}
